executor: KubernetesExecutor

airflow:
  image:
    repository: apache/airflow
    tag: 2.9.3
    pullPolicy: IfNotPresent

  serviceAccount:
    create: true
    name: airflow

  rbac:
    create: true

  config:
    AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    AIRFLOW__KUBERNETES__NAMESPACE: "airflow"
    AIRFLOW__WEBSERVER__EXPOSE_CONFIG: "true"

dags:
  persistence:
    enabled: false

postgresql:
  enabled: true
  image:
    registry: docker.io
    repository: bitnami/postgresql
    tag: latest

redis:
  enabled: false   # ❗ KubernetesExecutor không cần

logs:
  persistence:
    enabled: false

webserver:
  waitForMigrations:
    enabled: true
scheduler:
  waitForMigrations:
    enabled: true

users:
  - username: admin
    password: admin
    role: Admin
    email: admin@example.com
    firstName: Admin
    lastName: User
